/*
 * File Input Styles
 */

.file-widget {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    border: 2px dashed darkgray;
    display: inline-block;
    margin-bottom: 0;
    min-width: 570px;
    padding: 9px 10px 10px;
    vertical-align: bottom;
    white-space: normal;
    word-break: break-all;
}

.file-widget-upload-file {
    border: 1px solid #466eb6;
    border-radius: 5px;
    font-size: 11px;
    padding: 1px;
    margin-right: 7px;
    position: relative;
    top: -5px;
    vertical-align: bottom;
    font-weight: normal;
}

.file-widget-input-file {
    display: none;
}

.file-widget-url {
    position: relative;
    top: -4px;
}

.file-widget-button {
    border: 1px solid #466eb6;
    border-radius: 5px;
    font-size: 11px;
    padding: 1px;
    font-weight: normal;
}

.file-widget-input-file {
    position: absolute;
    z-index: -1000;
}

.file-widget-drop {
    color: darkgray;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 28px;
    height: 20px;
    letter-spacing: 1px;
    line-height: 28pt;
    margin-left: 9px;
    padding: 5px 10px;
    text-align: center;
    width: 120px;
}

.file-widget-size {
    font-size: 10px;
    font-style: italic;
    margin-left: 5px;
}

.file-widget-value {
    background-color: #eeeeee;
    font-size: 10pt;
    height: 17px;
    margin-top: 10px;
    overflow: hidden;
    padding: 4px;
    white-space: normal;
    width: 99%;
}

.file-widget-value-erase {
    cursor: pointer;
    float: right;
    text-align: center;
    white-space: normal;
    width: 19px;
    color: #2e6e9e;
}

.file-widget-path-label {
    font-size: 10pt;
}

.file-widget-path-input {
    margin-top: 5px;
    width: 99%;
}

.file-widget-path-buttons {
    margin-top: 5px;
    text-align: right;
}

/*
 * Text Input Styles
 */

.text-widget-input {
    width: 570px;
}

/*
 * Choice Input Styles
 */

.choice-widget-select {
    width: 570px;
}

/*
 * Run Task Styles
 */

.task-widget {
    width: 800px;
    border: 1px solid #466eb6;
    border-radius: 5px;
}

.task-widget-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #e5ebe9;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}

.task-widget-name {
    margin-left: 5px;
    margin-right: 20px;
}

.task-widget-version {
    font-size: 13px;
    font-weight: normal;
}

.task-widget-doc {
    color: #000099;
    display: block;
    font-size: 11px;
    font-weight: normal;
    float: right;
    margin-right: 10px;
}

.task-widget-message-success {
    background-color: #f1fcf3;
    border: 1px solid #a3cfa5;
    border-radius: 5px;
    font-size: 9pt;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

.task-widget-message-error {
    background-color: #fcf1f3;
    border: 1px solid #cfa3a5;
    border-radius: 5px;
    font-size: 9pt;
    font-weight: bold;
    margin: 5px;
    padding: 5px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

.task-widget-subheader {
    border-bottom: 1px solid #466eb6;
}

.task-widget-desc {
    color: #000000;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 14px;
    margin: 7px 10px;
}

.task-widget-run {
    overflow: auto;
    margin-left: 20px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    padding-top: 10px;
}

.task-widget-run-button {
    float: right;
    border: 1px solid #466eb6;
    border-radius: 5px;
    font-size: 11px;
    padding: 1px;
    font-weight: normal;
    margin-right: 10px;
    position: relative;
    top: -10px;
}

.task-widget-form {
    padding-top: 10px;
    padding-bottom: 10px;
}

.task-widget-param {
    margin: 10px;
    padding: 10px;
}

.task-widget-param-name {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    word-break: break-all;
    vertical-align: top;
    padding-top: 10px;
}

.task-widget-param-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 600px;
}

.task-widget-param-desc {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.task-widget-param-missing {
    border: 2px solid red;
}

.task-widget-footer {
    border-top: 1px solid #466eb6;
    padding-top: 10px;
}

/*
 * Job Results Styles
 */

.job-widget {
    width: 800px;
    border: 1px solid #466eb6;
    border-radius: 5px;
}

.job-widget-header {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #eef5ff;
    border-bottom: 1px solid #666699;
    width: 100%;
}

.job-widget-task {
    font-family: Arial,verdana,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.job-widget-submitted {
    font-size: 12px;
    font-family: Arial,verdana,Helvetica,sans-serif;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.job-widget-status {
    float: right;
    width: 100px;
    padding: 10px;
    text-align: right;
    font-family: Arial,verdana,Helvetica,sans-serif;
    font-size: 12px;
    font-style: italic;
}

.job-widget-outputs {
    margin: 10px;
}

.job-widget-outputs-list a {
    display: block;
    color: #0066ff;
    text-decoration: none;
    text-indent: 20px;
    line-height: 20px;
    font-family: Arial,verdana,Helvetica,sans-serif;
    font-size: 12px;
}