/**
 * Loading screen styles
 */

.loading-screen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    text-align: center;
    vertical-align: middle;
    font-size: 40pt;
    background: #eeeeee url("/static/custom/aurora5.png") center center;
    background-size: cover;
    color: white;
    padding-top: 200px;

}

/**
 * General theme styles
 */

#header {
    background: url("/static/custom/aurora5.png") center center;
    padding: 10px;
    min-height: 130px;
}

/* Don't expand header on main notebook listing page */
body[data-notebook-path=''] #header {
    min-height: unset;
}

.header-bar {
	display: none;
}

img.current_kernel_logo {
    display: none !important;
}

body {
    background-color: white;
    color: #333333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    overflow: hidden;
}

/* Hide the clusters tab */
#tabs li:last-of-type {
	display:none
}

#save_widget {
	color: white;
	text-shadow: 0 0 6px #002244;
}

#save_widget #notebook_name:hover {
	color: #f1f2f2;
}

.navbar-text {
	color: white;
	text-shadow: 0 0 6px #002244;
}

#kernel_indicator, #modal_indicator.modal_indicator {
	text-shadow: none;
}

#maintoolbar-container .btn-group:last-of-type {
    display: none;
}

#notebook, #site {
	background-color: #f1f2f2;
}

#ipython-main-app {
	background-color: #fff;
    box-shadow: 0 0 12px 1px rgba(87, 87, 87, 0.2);
    min-height: 0;
}

#tab_content {
    padding: 15px;
}

.widget-subarea {
    max-width: 100%;
}

/*
 * Styles for navigation
 */

.add-cell-container {
    text-align: right;
    position: fixed;
    bottom: 55px;
    padding-right: 15px;
    height: 0;
}

.add-cell-button {
    color: white;
    margin-right: 10px;
    z-index: 5;
    box-shadow: 2px 2px 1px #cecece;
    height: 40px;
    opacity: 0.5;
    width: 40px;
    background-color: #0a2d69;
    display: inline-block;
    font-size: 1.7em;
    line-height: 1.6;
    text-align: center;
    border: medium none;
    border-radius: 50%;
}

.add-cell-button:hover, .sidebar-button:hover {
    opacity: 0.8;
    cursor: pointer;
}

#slider {
    display: none;
    position: fixed;
    top: 129px;
    bottom: 0px;
    left: 0%;
    z-index: 5;
    width: 50%;
    min-width: 400px;
    background-color: #f8f8f8;
    border: 1px solid rgba(10, 45, 105, 0.8);
}

#slider-tabs, #slider .tab-content {
    flex: auto;
    -ms-flex: auto;
    -moz-flex: auto;
    -webkit-flex: auto;
    height: 100%;
}

#slider-tabs .active {
    background-color: #ffffff;
}

#slider-tabs .tab-pane {
    padding: 10px;
    overflow: auto;
    position: absolute;
    top: 43px;
    bottom: 0;
    width: 100%;
}

#slider-filter-box {
    float: right;
    padding: 7px;
}

.sidebar-button-main {
    position: fixed;
    left: 0px;
    top: 230px;
}

.sidebar-button-slider {
    position: absolute;
    right: -40px;
    top: 100px;
}

.sidebar-button {
    color: white;
    z-index: 5;
    box-shadow: 2px 2px 1px #cecece;
    height: 40px;
    opacity: 0.5;
    width: 40px;
    background-color: #0a2d69;
    display: inline-block;
    font-size: 1.7em;
    line-height: 1.6;
    text-align: center;
    border: medium none;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.slider-option {
    cursor: pointer;
    position: relative;
}

.slider-option:hover {
    background-color: #e4e4e4;
}

.slider-option-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.slider-option-anno {
    color: gray;
    position: absolute;
    right: 15px;
    top: 10px;
}

.slider-option-desc {
    color: #333366;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.slider-option-tags {
    display: block;
    color: rgba(10, 45, 105, 1);
    padding: 5px;
}

/*
 * Styles for widget display
 */

.widget-area .prompt, .output_stderr {
    display: none;
}

.widget-float-right {
    float: right;
    position: relative;
    top: -3px;
    left: 7px;
}

.gp-widget {
    width: 100%;
    max-width: 100%;
    border-color: rgba(10, 45, 105, 0.80);
}

.gp-widget .panel-heading {
    background-color: rgba(10, 45, 105, 0.80);
    color: white;
}

.gp-widget label {
    font-weight: bold;
}

.widget-username-label {
    font-style: italic;
}

.widget-server-label {
    font-size: 0.8em;
    font-style: italic;
    padding-right: 10px;
}

.gp-widget .btn-primary {
    border-color: rgba(10, 45, 105, 0.80);
    background-color: rgba(10, 45, 105, 0.80);
}

.gp-widget .btn-primary:hover {
    border-color: rgba(10, 45, 105, 1);
    background-color: rgba(10, 45, 105, 1);
}

.widget-view {
    position: relative;
}

.gp-widget-loading, .gp-widget-logged-in {
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(255,255,255,0.75);
}

.gp-widget-loading img {
    width: 100px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.gp-widget-logged-in div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    line-height: 40px;
    font-size: 1.2em;
}

.widget-code {
    -moz-box-align: stretch;
    -moz-box-orient: horizontal;
    align-items: stretch;
    display: flex;
    flex-direction: row;
    page-break-inside: avoid;
}

.widget-code .prompt {
    display: inline-block;
}

.widget-code pre {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.gp-widget-job-status {
    padding-bottom: 3px;
}

.gp-widget-job-submitted {
    padding-top: 5px;
    font-style: italic;
    font-size:0.9em;
}

.gp-widget-job-buttons {
    text-align: right;
}







/*
 * File Input Styles
 */

.file-widget {
    border: 2px dashed darkgray;
    display: inline-block;
    min-width: 450px;
    width: 100%;
    padding: 9px 10px 10px;
    white-space: normal;
    word-break: break-all;
}

.file-widget-upload-file {
    margin-right: 7px;
}

.file-widget-input-file {
    display: none;
}

.file-widget-input-file {
    position: absolute;
    z-index: -1000;
}

.file-widget-drop {
    color: darkgray;
    font-size: 2em;
    letter-spacing: 1px;
    margin-left: 9px;
    padding: 5px 10px;
    position: relative;
    top: 10px;
}

.file-widget-size {
    font-size: 0.9em;
    font-style: italic;
    margin-left: 5px;
    margin-top: 5px;
}

.file-widget-value {
    background-color: #f7f7f7;
    margin-top: 10px;
    overflow: hidden;
    padding: 4px;
    white-space: normal;
    line-height: 2.2em;
    vertical-align: middle;
}

.file-widget-value-erase {
    float: right;
}

.file-widget-path-label {
    font-weight: bold;
    text-align: left !important;
}

.file-widget-path-buttons {
    margin-top: 5px;
    text-align: right;
}

/*
 * Choice Input Styles
 */

.choice-widget-select {
    position: relative;
    left: -10px;
}

/*
 * Run Task Styles
 */

.gp-widget-task-version {
    font-size: 0.8em;
    font-style: italic;
    padding-right: 10px;
}

.gp-widget-task-subheader {
    border-bottom: 1px solid rgba(10, 45, 105, 0.8);
}

.gp-widget-task-run {
    overflow: auto;
    margin-left: 20px;
    font-size: 0.9em;
    padding-top: 10px;
}

.gp-widget-task-run-button {
    float: right;
    position: relative;
    top: -10px;
}

.gp-widget-task-form {
    padding-top: 10px;
    padding-bottom: 10px;
}

.gp-widget-task-param {
    margin: 10px;
    padding: 10px;
}

.gp-widget-task-param-name {
    display: inline-block;
    /*width: 150px;*/
    font-weight: bold;
    font-size: 1em;
    word-break: break-all;
    vertical-align: top;
    padding-top: 10px;
    padding-right: 10px;
}

.gp-widget-task-param-wrapper {
    vertical-align: top;
    padding-left: 10px;
}

.gp-widget-task-param-desc {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.gp-widget-task-param-missing {
    border: 2px solid red;
}

.gp-widget-task-footer {
    border-top: 1px solid rgba(10, 45, 105, 0.8);
    padding-top: 10px;
}